html, body{
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
    background: #dff4e9;
    background-size: cover;
}
nav{
    padding:0 !important;
    background: #4D2638;
}
.nav-link{
    font-size: 10pt;
    color:rgba(255, 255, 255, 0.75) !important;
    border-bottom:2px solid transparent;
    transition: border-bottom 600ms;
}
.fa-nav {
    margin-right:5px;
    color:#9D6A2A;
}
#logo{
    margin:15px 25px;
}
.nav-link:active,.nav-link:focus{
    outline: none;
}
.nav-link:hover{
    border-bottom:2px solid #EF5324;
    outline: none;
    transition: border-bottom 700ms;
}
.banner{
    background:#4D2638;
}
.banner .heading{
    padding:45vh 3vh;
}

#theme{
    background: url("../images/yoga-theme.jpg") no-repeat fixed center;
    background-size: cover;
    height:100%;
}

#img-group img{
    border-radius: 7px;
}

#still-image{
    background: url("../images/yoga.jpg") no-repeat fixed center;
    background-size: cover;
    height:80%;
}

#who-can-join p{
    border-top: rgba(120,150,130,0.5) solid 2px;
    padding:3vh;
}
#blog{
    height: 80%;
    background:#f8f8f8;
}
#connect{
    background: #1d252c;
    padding:3vh;
    position: relative;
    box-sizing: border-box;
    margin-top: 100px;

}
#connect::before{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: inherit;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top left;
    transform: skewY(-4deg);
}

#connect .sm_handles{
    margin:3vh;
    transition: color 500ms;
    color: #FFF;
}
#connect .sm_handles:hover{
    color: #EF5324;
    transition: color 900ms;
}
@media screen and (max-width:768px) {
    #connect .sm_handles{
        margin:1vh;
    }
    .nav-link{
        margin-left:25px;
    }
}

#blog{
    position: relative;
    box-sizing: border-box;
    padding: 3vh;
    margin-top: 100px;
    margin-bottom: 100px;
    background: #93dbb3;
}
#blog::before{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: inherit;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top left;
    transform: skewY(-6deg);
}

#blog::after{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: inherit;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: bottom left;
    transform: skewY(6deg);
}

#what-we-do{
    position: relative;
    box-sizing: border-box;
    padding: 5vh;
    background:#222b34;
}
#what-we-do h1 {
    color: whitesmoke;
}
#what-we-do p{
    color: rgba(255,255,255,0.6);
}
#who-can-join{
    position: relative;
    box-sizing: border-box;
    margin-bottom: 150px;
    background: #222b34;
    padding:3vh;
}

#who-can-join::after{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: inherit;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top left;
    transform: skewY(4deg);
}
#preload{
    position: fixed;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    z-index:9999;
    background:#5ac88b;
}
#preload .loader{
    position: absolute;
    top:50%;
    left:50%;
}



