html, body{
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
    background: #dff4e9;
    background-size: cover;
}
nav{
    padding:0 !important;
    background: #613F75;
}
.nav-link{
    font-size: 10pt;
}
#logo{
    margin:15px 25px;
}

.nav-link:focus{
    border-bottom: black solid 3px;
    outline: none;
}
.banner{
    background:#613F75;
}
.banner .heading{
    padding:45vh 3vh;
}

#theme{
    background: url("../images/yoga-theme.jpg") no-repeat fixed center;
    background-size: cover;
    height:100%;
}

#img-group img{
    border-radius: 7px;
}

#still-image{
    background: url("../images/yoga.jpg") no-repeat fixed center;
    background-size: cover;
    height:80%;
}

#who-can-join p{
    border-top: black solid 2px;
    padding:3vh;
}
#blog{
    height: 80%;
    background:#f8f8f8;
}
#connect{
    background: #dc493a;
    padding:3vh;
    position: relative;
    box-sizing: border-box;
    margin-top: 100px;

}
#connect::before{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: inherit;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top left;
    transform: skewY(-4deg);
}

#connect .sm_handles{
    margin:3vh;
}
@media screen and (max-width:768px) {
    #connect .sm_handles{
        margin:1vh;
    }
    .nav-link{
        margin-left:25px;
    }
}

#blog{
    position: relative;
    box-sizing: border-box;
    padding: 3vh;
    margin-top: 100px;
    margin-bottom: 100px;
    background: #93dbb3;
}
#blog::before{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: inherit;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top left;
    transform: skewY(-6deg);
}

#blog::after{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: inherit;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: bottom left;
    transform: skewY(6deg);
}

#what-we-do{
    position: relative;
    box-sizing: border-box;
    padding: 5vh;
    margin-bottom: 180px;
    background:#cce8cc;
}

#what-we-do::after{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: inherit;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top left;
    transform: skewY(6deg);
}
#who-can-join{
    position: relative;
    box-sizing: border-box;
    margin-bottom: 150px;
    background: #d4dccd;
    padding:3vh;
}

#who-can-join::after{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: inherit;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top left;
    transform: skewY(4deg);
}
#preload{
    position: fixed;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    z-index:9999;
    background:#5ac88b;
}
#preload .loader{
    position: absolute;
    top:50%;
    left:50%;
}



