html, body{
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
}
nav{
    padding:0 !important;
}
#logo{
    margin:10px;
}

#theme{
    background: url("../images/x (140).jpg") no-repeat fixed;
    height:90%;
}
#img-group img{
    border-radius: 7px;
}

